on:
  push:
    branches:
      - main

jobs:
  ui-tests:
    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@v3
       - run: docker build -t cushon-tests .
       - run: docker run --rm cushon-tests pytest tests/test_ui.py

  api-tests:
    runs-on: ubuntu-latest
    env:
      API_KEY: ${{ secrets.API_KEY }}
    steps:
       - uses: actions/checkout@v3
       - run: docker build -t cushon-tests .
       - run: docker run --rm -e API_KEY cushon-tests pytest tests/test_api.py
