on:
  push:
    branches:
      - main

jobs:
  ui-tests:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:22.04

    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Chrome & dependencies
        run: |
          apt update && apt install -y chromium chromium-chromedriver

      - name: Run tests
        run: pytest
