on:
  push:
    branches:
      - main

jobs:
  ui-tests:
    runs-on: ubuntu-latest
    container:
      image: python:3.11-slim

    steps:
      - uses: actions/checkout@3
      - name: Install dependancies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pytest