on:
  push:
    branches:
      - main

jobs:
  build-docker:
    runs-on: ubuntu-latest
    outputs:
      image: cushon-tests
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t cushon-tests .

      - name: Set output for other jobs
        run: echo "image=cushon-tests" >> $GITHUB_OUTPUT

  ui-tests:
      runs-on: ubuntu-latest
      needs: build-docker
      steps:
        - name: Checkout repository
          uses: actions/checkout@v3

        - name: Run Sweet Shop System Tests
          run: docker run --rm ${{ needs.build-docker.outputs.image }} pytest tests/test_ui.py

  api-tests:
    runs-on: ubuntu-latest
    needs: build-docker
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Airport Gap API Tests
        run: docker run --rm ${{ needs.build-docker.outputs.image }} pytest tests/test_api.py